<div class="comment">
  <div class="comment-date">Date: <%= comment.created_at %></div>
  <div class="comment-author">Author: <%= comment.user.name %></div>
  <div class="comment-content"><%= comment.content %></div>
</div>
