<div class="post-comments card">
  <div class="card-header">
    Comments
  </div>
  <ul class="list-group list-group-flush">
    <% post.comments.each do |comment| %>
      <%= render 'posts/comment', comment: comment %>
    <% end %>
  </ul>
  <div class="card-header">
    <%= render 'posts/comment_form', post: @post %>
  </div>
</div>
