<div class="new-comment">
  <%= form_with url: comment_post_path(post) do |form| %>
    <div class="form-group">
      <%= form.text_area :content, class: "form-control mt-2" %>
    </div>
    <%= form.submit "Add a comment", class: 'btn btn-primary' %>
  <% end %>
</div>
