<%= form_with model: post do |f| %>
  <div class="form-group">
    <%= f.text_area :content, autofocus: true, placeholder: "What's going on?", class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Create post", class: "btn btn-primary" %>
  </div>
<% end %>
