@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.container {
  padding-top: 50px;
}

.jumbotron {
  text-align: center;
}

h2, h3 {
  padding-top: 10px;
  text-align: center;
}

.account-form {
  max-width: 640px;
  margin: 20px auto;
}

.field_with_errors input, .field_with_errors textarea {
  @extend .is-invalid;
}

.post-form {
  margin-bottom: 20px;
}

.post-container {
  margin-bottom: 20px;

  a {
    color: inherit;
  }
}

.user-container {
  margin-bottom: 20px;
}

.likes-link {
  color: $pink;
  padding-right: 10px;
}

.comments-link {
  color: $secondary;
}

.comment {
  a {
    color: inherit;
  }
}
